/.idea
*.class

*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

/web-ui/dist
/rest/src/main/resources/public
# Package Files #
/web-ui/node_modules
/web-ui/typings
*.jar
*.war
*.ear

/npm-debug.log
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/rest/src/main/java/io/github/pivopil/rest/services/CustomACLService.java
/utils/
