<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <!--<li><a class="big-font" href="/"><i class="fa fa-home"></i>{{ 'HOME' | translate: language }}</a></li>-->
            <li><a routerLink="/crisis-center" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">Crisis Center</a></li>
            <li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
            <li><a routerLink="/crisis-center/admin" routerLinkActive="active">Crisis Admin</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        </ul>
        <form [formGroup]="loginForm" (ngSubmit)="signIn()" class="navbar-form navbar-right">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <input required class="form-control" id="email" formControlName="email"
                               [(ngModel)]="user.email" type="text" placeholder="Your Name">
                        <div *ngIf="loginForm.email" class="alert alert-danger">
                            {{ loginForm.email }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input required id="password" class="form-control" [(ngModel)]="user.pass"
                               type="password" placeholder="Password" formControlName="pass">
                        <div *ngIf="loginForm.password" class="alert alert-danger">
                            {{ loginForm.pass }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign In</button>
                    </div>
                </div>
            </div>
        </form>
        <!--<div [hidden]="!isAuthorised" class="navbar-form navbar-right">-->
            <!--<span class="big-font"><i class="fa fa-user"></i>{{user.email}}</span>-->
            <!--<button class="btn btn-primary" (click)="signOut()">-->
                <!--<i class="fa fa-sign-out"></i>{{'SIGN_OUT' | translate:language }}-->
            <!--</button>-->

            <!--<select class="form-control" [(ngModel)]="language" (ngModelChange)="changeLanguage()">-->
                <!--<option *ngFor="let p of languages" [value]="p">{{p}}</option>-->
            <!--</select>-->

        <!--</div>-->
    </div>
</nav>


<router-outlet></router-outlet>